/*Page-home*/
@media(max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    
}
@media (min-width:1700px){
    #page-home{
        background-position-x: 40vw;
    } 
}
@media (max-height: 570px){
    #page-home{
        background-position-y: 200px;
    }  
}

/*Formulário*/
@media (max-width:1070px){
    #form-index{
        margin-top: 400px;
        margin: 600 auto;
    }
    #form-index{
        align-items: center;
    }
}