/*Page-home*/
@media(max-width: 900px){
    #page-home{
        background-position-x: 70vw;
        margin: 0 auto;
        margin-top: -229px;
        margin-right: 0px;
        margin-left: 0px;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
        margin: 0 auto;

    }
    
}
@media (min-width:1700px){
    #page-home{
        background-position-x: 40vw;
        margin: 0 auto;

    } 
}
@media (max-height: 1070px){
    #page-home{
        background-position-y: 200px;
        margin: 0 auto;

    }  
}

/*Texto main*/
@media (max-width: 867px){
    h1{
       
        padding: 100px;
        padding-left: 200px;
    }
    p{
        padding: 100px;
        padding-left: 200px;
        margin-top: -176px;
    }
}


/*Imagem do Foguete*/

@media (max-width: 1070px)
{
figure{
    padding: 100px;
    padding-left: 200px;
    margin-top: -176px;
}

img{

    display: none;
 }


}

/*Formulário*/
@media (max-width:1070px){
    #form-index{
        margin-top: 400px;
        margin: 249px auto;
        margin-bottom: 100px;
        margin-left: -30px;  
    }
    #form-index{
        align-items: center;
    }
}